<%= form_with(model: model, local: true) do |form| %>
  <% if model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(model.errors.count, "error") %> prohibited this model from being saved:</h2>

      <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Nombre'%>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label 'Resolución' %>
    <%= form.text_field :resolution, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label 'Pantalla' %>
    <%= form.text_field :screen, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label 'Peso' %>
    <%= form.text_field :weight, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label 'Dimensiones' %>
    <%= form.text_field :dimensions, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label 'Bateria' %>
    <%= form.text_field :batery, class: 'form-control' %>
  </div><br>

  <div class="field">
    <%= form.label 'Marca' %>
    <%= form.collection_select :brand_id, Brand.all, :id, :description, class: 'form-control' %>
  </div><br>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div><br>
<% end %>
