<div class="container-div">

  <h1>Modelos</h1>

  <table class="table table-bordered center-text">
    <thead class="thead-dark center-text">
      <tr>
        <th>Nombre</th>
        <th>Resolución</th>
        <th>Pantalla</th>
        <th>Peso</th>
        <th>Dimensiones</th>
        <th>Bateria</th>
        <th>Marca</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
    </thead>

    <tbody>
      <% @models.each do |model| %>
        <tr>
          <td><%= model.name %></td>
          <td><%= model.resolution %></td>
          <td><%= model.screen %></td>
          <td><%= model.weight %></td>
          <td><%= model.dimensions %></td>
          <td><%= model.batery %></td>
          <td><%= model.brand.description %></td>
          <td><%= link_to '', edit_model_path(model), class: 'glyphicon glyphicon-pencil' %></td>
          <td><%= link_to '' , model, method: :delete, data: { confirm: 'Estás seguro?' }, class: "glyphicon glyphicon-remove"  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nuevo modelo', new_model_path, class: 'btn btn-primary' %>
</div>