<p id="notice"><%= notice %></p>

<h1>Order Details</h1>

  <table class="table table-bordered center-text">
    <thead class="thead-dark center-text">
    <tr>
      <th>Price</th>
      <th>Order</th>
      <th>Product</th>
    </tr>
  </thead>

  <tbody>
    <% @order_details.each do |order_detail| %>
      <tr>
        <td><%= order_detail.price %></td>
        <td><%= order_detail.order %></td>
        <td><%= order_detail.product %></td>
        <td><%= link_to 'Show', order_detail %></td>
        <td><%= link_to 'Edit', edit_order_detail_path(order_detail) %></td>
        <td><%= link_to 'Destroy', order_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order Detail', new_order_detail_path %>
