<header>
  <nav class="be-red white large-padding">
    <ul class="no-list row center-xs middle-xs">
      <li class="col-md">
          <h3 class="no-margin"><%= link_to "CellShop", root_path %></h3>
      </li>
      <li class="col-md">
          <%= link_to "Celulares", products_path %>
      </li>

      <!--Usuario normal -->
      <% if user_signed_in?%>
        <% if current_user.is_normal_user? %>
          <li class="col-md">
            <%= link_to "Carrito", carts_path %>
          </li>
          <li class="col-md">
            <%= link_to "Pedidos", orders_path %>
          </li>
          <li class="col-md">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <%= current_user.email %>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><%= link_to "Perfil", '/users/update' %></li>
                <li><%= link_to "Cuenta", '/users/edit' %></li>
                <li role="separator" class="divider"></li>
                <li class="col-md">
                  <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
                </li>
              </ul>
            </div>
          </li>
          <!--Admin -->
        <%else%>
            <li class="col-md">
              <%= link_to "Pedidos", orders_path %>
            </li>
            <li class="col-md">
              <%= link_to "Usuarios", users_registers_path %>
            </li>
            <li class="col-md">
              <%= link_to "Modelos", models_path %>
            </li>
            <li class="col-md">
              <%= link_to "Colores", colors_path %>
            </li>
            <li class="col-md">
              <%= link_to "Memorias", memories_path %>
            </li>
            <li class="col-md">
              <%= link_to "Marcas", brands_path %>
            </li>
            <li class="col-md">
              <%= link_to "Almacenamientos", storages_path %>
            </li>
            <li class="col-md">
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <%= current_user.email %>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><%= link_to "Perfil", '/users/update' %></li>
                  <li><%= link_to "Cuenta", '/users/edit' %></li>
                  <li role="separator" class="divider"></li>
                  <li class="col-md">
                    <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
                  </li>
                </ul>
              </div>
            </li>
          <%end%>
      <%else%>
        <li class="col-md">
            <%= link_to "Inicia sesión", new_user_session_path %>  o  <%= link_to "Registrate", new_user_registration_path %>
        </li>
      <%end%>
    </ul>
  </nav>
</header>