<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Descripción' %>
    <%= form.text_field :description, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label 'Imagén' %>
    <%= form.file_field :image, class: 'field' %>
  </div>

  <div class="field">
    <%= form.label 'Trailer/Video' %>
    <%= form.text_field :video, class: 'form-control'  %>
  </div>

  <div class="field">
    <%= form.label 'En stock' %>
    <%= form.number_field :stock, class: 'form-control'  %>
  </div>

  <div class="field">
    <%= form.label 'Precio' %>
    <%= form.text_field :price, class: 'form-control'  %>
  </div>

  <div class="field">
    <%= form.label 'Modelo' %>
    <%= form.collection_select :model_id, Model.all, :id, :name %>
  </div>

  <div class="field">
    <%= form.label 'Memoria' %>
    <%= form.collection_select :memory_id, Memory.all, :id, :description %>
  </div>

  <div class="field">
    <%= form.label 'Color' %>
    <%= form.collection_select :color_id, Color.all, :id, :name%>
  </div>

  <div class="field">
    <%= form.label 'Almacenamiento' %>
    <%= form.collection_select :storage_id, Storage.all, :id, :description %>
  </div>

  <div class="actions field">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
