<div class="container-div">
  <h1>Celulares</h1>
  <tbody>
    <% @products.each do |product| %>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="thumbnail thumbnail-content-phones">
        <div class="img-products">
          <img class="img-responsive" <%= image_tag product.image.url(:medium) %>
        </div>
        <div class="caption" role="menu" id="producto" name="producto">
          <h4 class=" text-center"><%=product.model.name%></h4>
          <p class="text-justify"><%=product.description%></p>
          <p class="text-justify">
          <b>Memoria Ram:</b> <%=product.memory.description%></p>
          <p class="text-justify">
          <b>Almacenamiento:</b>
          <%=product.storage.description%>
          </p>
          <p class="text-justify">
          <b>Color:</b> <%=product.color.name%>
          </p>
          <p class="text-justify">
          <b>Precio:</b>
          <%=product.price%>gs
          </p>
          <% if user_signed_in? %>
          <p class="text-center">
          <%= link_to "Ver más", product, class:"btn btn-danger" %>
          <a href="s" class="btn btn-success" role="button"
          title="Agregar al carrito"><span class="glyphicon glyphicon-shopping-cart"></span></a>
          <% else %>
          <p>Debes iniciar sesión para agregar articulos a tu carrito</p>
          </p>
          <%end%>
        </div>
      </div>
    </div>
    <%end%>
  </tbody>
</div>