<div class="container-div">
  <div class="row center-xs">
      <div class="box">
        <div class="thumbnail thumbnail-content-phones">
            <img class="img-responsive" <%= image_tag @product.image.url(:medium) %>
            <h4 class=" text-center"><b><%=@product.model.name%></b></h4> 
            <% if user_signed_in? %>
              <% if current_user.is_admin? %>          
                <%= link_to 'Editar', edit_product_path(@product), class: 'btn btn-primary' %>
                <%= link_to 'Eliminar', @product, method: :delete, data: { confirm: 'Estás seguro?' }, class: 'btn btn-danger' %>
              <%end%>
            <%end%>
        </div>
      </div>
      <div class="box">
        <div class="thumbnail thumbnail-content-phones">
            <iframe width="695" height="390" src=<%=@product.video%> frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
  </div>
    <div class="row">
      <div class="col-xs-7">
        <div class="box">
          <div class="caption thumbnail thumbnail-content-phones" role="menu" id="producto" name="producto">
            <p class="text-center">
            <p class="text-center"><%=@product.description%></p>
          </div>
        </div>
      </div>
        <div class="col-xs-5">
          <div class="box">
            <div class="caption thumbnail thumbnail-content-phones" role="menu" id="producto" name="producto">
              <p class="text-center"><b>Marca:</b> <%=@product.model.brand.description%></p>
              <p class="text-center"><b>Memoria:</b> <%=@product.memory.description%></p>
              <p class="text-center"><b>Almacenamiento:</b> <%=@product.storage.description%>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col-xs-4">
        <div class="box">
          <div class="caption thumbnail" role="menu" id="producto" name="producto">
            <p class="text-center">
            <b>Bateria:</b> <%=@product.model.batery%></p>
          </div>
        </div>
      </div>
        <div class="col-xs-4">
          <div class="box">
            <div class="caption thumbnail" role="menu" id="producto" name="producto">
              <p class="text-center">
              <b>Peso:</b> <%=@product.model.weight%></p>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="box">
            <div class="caption thumbnail" role="menu" id="producto" name="producto">
              <p class="text-center">
              <b>Resolución:</b> <%=@product.model.resolution%></p>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <div class="box">
          <div class="caption thumbnail" role="menu" id="producto" name="producto">
            <p class="text-center">
            <b>Pantalla:</b> <%=@product.model.screen%></p>
          </div>
        </div>
      </div>
        <div class="col-xs-4">
          <div class="box">
            <div class="caption thumbnail" role="menu" id="producto" name="producto">
              <p class="text-center">
              <b>Dimensiones:</b> <%=@product.model.dimensions%></p>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="box">
            <div class="caption thumbnail" role="menu" id="producto" name="producto">
              <p class="text-center">
              <p class="text-center"><b>Color:</b> <%=@product.color.name%></p>
            </div>
          </div>
        </div>
    </div>   
  <% if user_signed_in? %>
    <% if current_user.is_admin? %>
      <div class="col-xs-4">
        <div class="box">
          <div class="caption thumbnail" role="menu" id="producto" name="producto">
            <p class="text-center"><b>Precio:</b> <%=@product.price%>gs</p>
          </div>
        </div>
      </div> 
    <% else %>
    <div class="row center-xs">
      <div class="box">
        <div class="caption thumbnail" role="menu" id="producto" name="producto">
          <p class="text-center"><b>Precio:</b> Gs. <%=@product.price%></p>
        </div>
        <div class="caption" role="menu" id="producto" name="producto">
          <a href="/carts/add/<%=@product.id%>" class="btn btn-success" role="button" title="Agregar al carrito"><span class="glyphicon glyphicon-shopping-cart"></span></a>
        </div>
      </div>     
    </div>
    <%end%>  
  <%end%>    
</div><br>