<div class="container-div">
  <h1>Carrito</h1>
  <table class="table table-bordered center-text">
    <thead class="thead-dark center-text">
      <tr>
        <th>Fecha</th>
        <th>Precio</th>
        <th>Producto</th>
        <th>Ver más</th>
        <th>Quitar</th>
      </tr>
    </thead>

    <tbody>
      <% @carts.each do |cart| %>
        <tr>
          <td><%= cart.created_at %></td>
          <td>Gs.  <%= cart.price %></td>
          <td><%= cart.product.model.name %></td>
          <td><%= link_to '', cart.product, class: 'glyphicon glyphicon-eye-open' %></td>
          <td><%= link_to '' , cart, method: :delete, data: { confirm: 'Estás seguro?' }, class: "glyphicon glyphicon-remove"  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Agregar más', products_path, class:"btn btn-primary white" %>
  <a href="/orders/add/<%= current_user.id%>" class="btn btn-success white" role="button" title="Agregar al carrito">Confirmar pedido</a>
</div> 