<div class="container-div">

  <h1>Pedidos</h1>

  <table class="table table-bordered center-text">
    <thead class="thead-dark center-text">
      <tr>
        <% if current_user.is_admin? %>
        <th>Usuario</th>
        <%end%>
        <th>Fecha de pedido</th>
        <th>Precio Total</th>
        <th>Fecha de entrega</th>
        <% if current_user.is_admin? %>
        <th>Confirmar entrega</th>
        <%end%>
        <th>Detalles</th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <% if current_user.is_admin? %>
          <td><%= order.user.email %></td>
          <%end%>
          <td><%= order.created_at %></td>

          <td>Gs. <%= order.total_price %></td>
          <% if order.date_delivered.nil?%>
            <td>No entregado</td>
          <%else%>
            <td><%= order.date_delivered %></td>
          <%end%>
          

          <% if current_user.is_admin? %>
            <% if order.date_delivered.nil?%>
              <td><%= link_to '', edit_order_path(order) , class: 'glyphicon glyphicon-ok' %></td>
            <%else%>
            <td>
              <p class="alert alert-success" style="margin-bottom: -2%; padding-bottom: 5px; padding-top: 5px;">Entregado</p>
            </td>
            <%end%>
          <%end%>

          <td><%= link_to '', order, class: 'glyphicon glyphicon-eye-open' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>
