<div class="container-div">
	<p id="notice"><%= notice %></p>
	

	<h1>Detalles del Pedido</h1>

  <table class="table table-bordered center-text">
    <thead class="thead-dark center-text">
      <tr>
        <% if current_user.is_admin? %>
          <th>Usuario</th>
        <%end%>
        <th>Fecha de pedido</th>
        <th>Precio Total</th>
        <th>Fecha de entrega</th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <% if current_user.is_admin? %>
            <td><%= @order.user.email %></td>
          <%end%>
          <td><%= @order.created_at %></td>
          <td>Gs. <%= @order.total_price %></td>
          <% if @order.date_delivered.nil?%>
            <td>No entregado</td>
          <%else%>
            <td><%= @order.date_delivered%></td>
          <%end%>
        </tr>
    </tbody>
  </table>
	
	<h2>Articulos del Pedido</h2>
  <table class="table table-bordered center-text">
    <thead class="thead-dark center-text">
      <tr>
        <th>Articulo</th>
        <th>Precio</th>
      </tr>
    </thead>

    <tbody>
    	<% @order_details.each do |order| %>
        <tr>
          <td><%= order.product.model.name %><br><%= image_tag order.product.image.url(:mini), class: 'img-responsive' %></td>
          <td>Gs. <%= order.price %></td>
        </tr>
        <%end%>
    </tbody>
  </table>
</div>