<p id="notice"><%= notice %></p>

<p>
  <strong>Date request:</strong>
  <%= @order.date_request %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @order.total_price %>
</p>

<p>
  <strong>Date delivered:</strong>
  <%= @order.date_delivered %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
